/* BUGGER */
/*
body{font-size:20px;background-image:url(../../../landing/res/landing8.jpg);}
select{position:relative;top:10px;border-style:none;height:30px;width:200px;font-size:20px;text-align:center;background-color:#CCC;color:#222;}
input{border-style:none;text-align:center;}
input[type='text']{height:30px;width:200px;font-size:20px;background-color:#CCC;color:#222}
input[type='button']{position:relative;top:20px;cursor:pointer;background-color:#016CA4;height:30px;width:100px;color:#EEE;border:solid 1px black;font-size:15px;}
input[type='button']:hover{cursor:pointer;}
#doc{top:20%;left:10%;width:80%;height:60%;}
#form{position:absolute;top:10%;left:10%;height:80%;width:80%;background-color:#222;}
#banner{position:absolute;top:0px;left:0px;height:10%;width:100%;background-color:#016CA4;color:#EEE;}
#title{position:absolute;bottom:2px;right:15px;font-size:40px;}
#goback{position:absolute;bottom:2px;left:10px;font-size:20px;cursor:pointer;}
#body{position:absolute;top:10%;left:0px;height:85%;width:100%;background-color:#CCC;text-align:center;color:#222;}
#bugger{position:relative;top:75px;}
#footer{position:absolute;bottom:0px;left:0px;height:5%;width:100%;background-color:#AAA;text-align:center;color:red;font-size:25px;}
*/
/* //bugger\\ */


body{background-color:black;background-image:url(../res/landing12.jpg);background-repeat:no-repeat;background-attachment:fixed;background-position:center;}
p{color:#222;}
li{color:#333;list-style-type:none;}
a{text-decoration:none;color:#555;}
a:hover{color:#222;text-decoration:none;cursor:pointer;}

/*#title{cursor:pointer;color:white;}*/
#doc{position:absolute;margin:auto;top:0px;bottom:0px;left:0px;right:0px;width:1300px;height:650px;}

	#panel{position:absolute;left:0px;top:0px;height:100%;width:20%;background-color:#CCC;border-top-left-radius:10px;overflow-y:auto;overflow-x:hidden;}
		#webapps{position:relative;top:0px;left:0px;width:100%;}
		#modules{position:relative;top:0px;right:0px;width:100%;}
		#scripts{position:relative;top:0px;left:0px;width:100%;}
			.headerLink{text-decoration:underline;color:#222;}
			.headerLink:hover{text-decoration:underline;color:#222;}
		#databases{position:absolute;bottom:0px;left:0px;width:100%;}
		
	#pages{position:absolute;top:0px;right:0px;width:80%;height:100%;}
		#header{position:absolute;top:0px;left:0px;height:20%;width:100%;background-color:#016CA4;border-top-right-radius:10px;color:#DDD;}
			#time{position:absolute;font-size:20px;top:10px;right:10px;color:#EEE;}
			#date{position:absolute;font-size:10px;top:32px;right:10px;}
			#title{position:absolute;top:-30px;right:20px;color:#EEE;cursor:pointer;}
			.title{position:relative;left:20px;font-size:20px;}
			#git{position:absolute;bottom:10px;right:10px;font-size:18px;}
				.gitlinks a{text-decoration:none;color:#DDD;}
				.gitlinks a:hover{color:#FFF;text-decoration:none;}

		#body{position:absolute;bottom:0px;left:0px;height:80%;width:100%;background-color:#CCC;border-left:solid 1px #AAA;border-top:solid 1px #AAA;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
		
			#default{position:absolute;top:20px;left:35%;}

			#body_panel{position:absolute;top:10px;right:10px;height:93%;width:17%;border:solid 1px #AAA;}
				#body_panel_links_queued{position:absolute;top:25px;width:100%;color:#222;cursor:pointer;font-size:20px;text-align:center;}#body_panel_links_queued:hover{color:#777;}
				#body_panel_links_jot{position:absolute;top:75px;width:100%;color:#222;cursor:pointer;font-size:20px;text-align:center;}#body_panel_links_jot:hover{color:#777;}
				#body_panel_links_lucent{position:absolute;top:125px;width:100%;color:#222;cursor:pointer;font-size:20px;text-align:center;}#body_panel_links_lucent:hover{color:#777;}
				#body_panel_links_bugger{position:absolute;top:175px;width:100%;color:#222;cursor:pointer;font-size:20px;text-align:center;}#body_panel_links_bugger:hover{color:#777;}

			#marquee{position:absolute;top:2px;left:2px;width:393px;height:20px;color:#555;}

			#home{position:absolute;top:0px;left:0px;height:100%;width:80%;overflow-y:auto;}
			
				#tracker{position:absolute;top:0px;left:0px;height:519px;width:830px;}
					#tracker_header{position:absolute;top:0px;left:0px;height:66px;width:100%;border:solid 1px #888;background-color:#AAA;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
						#tracker_header_name{position:absolute;top:5px;left:10px;font-size:25px;}#tracker_header_name:hover{text-decoration:underline;cursor:pointer;}
						#tracker_header_id{position:absolute;bottom:5px;left:10px;font-size:12px;}
					#tracker_body{position:absolute;top:70px;height:412px;width:100%;border:solid 1px #888;background-color:#AAA;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
						#tracker_body_expanded{position:absolute;top:0px;left:0px;height:100%;width:100%;}
							#tracker_readme{position:absolute;top:0px;left:0px;height:60%;width:100%;}
								#tracker_readme_text{position:absolute;top:0px;left:0px;height:100%;width:100%;padding:10px;overflow:auto;}
								#tracker_readme_foot{position:absolute;bottom:0px;left:0px;height:20px;width:100%;background-color:#AAA;border-top:solid 1px #888;border-bottom:solid 1px #888;font-size:10px;padding:5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
									#tracker_readme_edited{position:absolute;right:200px;}
									#tracker_readme_date{position:absolute;right:100px;}
									#tracker_readme_author{position:absolute;right:0px;}
							#tracker_todo{position:absolute;bottom:0px;left:0px;height:40%;width:100%;}
								#tracker_todo_head{position:absolute;top:0px;left:0px;height:30px;width:100%;background-color:#AAA;padding:5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;overflow:hidden;border-bottom:solid 1px #888;}
									#tracker_todo_id{position:absolute;top:5px;left:5px;}
									#tracker_todo_headline{position:absolute;left:25px;top:5px;}
									#tracker_todo_date{position:absolute;top:5px;right:5px;}
									#tracker_priority_index{position:absolute;top:5px;right:80px;height:20px;width:100px;}
										#tracker_priority_index{text-align:right;}
								#tracker_notes{position:absolute;top:30px;left:0px;height:134px;width:100%;background-color:#AAA;}
									#tracker_notes_body{position:absolute;top:5px;left:5px;}
									#tracker_notes_foot{position:absolute;bottom:0px;left:0px;height:20px;width:100%;background-color:#AAA;padding:5px;border-top:solid 1px #888;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
										#tracker_notes_date{position:absolute;right:5px;;font-size:10px;}
					#tracker_footer{position:absolute;bottom:0px;left:0px;height:33px;width:100%;border:solid 1px #888;background-color:#AAA;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}

				#queued{position:absolute;top:0px;left:0px;height:100%;width:100%;overflow-y:auto;visibility:visible;}
					.project{position:absolute;left:0px;width:100%;}
						.project_name{position:absolute;height:20px;width:80%;background-color:#aaa;}
						.project_priority{position:absolute;height:20px;width:20%;right:20%;background-color:#aaa;}
						.project_status{position:absolute;height:20px;width:20%;right:0px;background-color:#aaa;text-align:right;}
						.project_selection{position:absolute;height:100%;width:100%;top:20px;background-color:#aaa;}
							.project_selection_links{position:absolute;height:20px;width:100%;top:0px;background-color:#bbb;text-align:right;}
							.project_description{position:absolute;height:40px;width:100%;top:20px;left:0px;background-color:#bbb;overflow:hidden;}
							.project_code{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;visibility:hidden;overflow:hidden;}
							.project_notes{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;visibility:hidden;overflow:hidden;}
						.project_timestamp{position:absolute;height:20px;width:100%;top:80px;text-align:right;background-color:#aaa;border-bottom:dotted 1px black;}
						
				#jot{position:absolute;top:0px;left:0px;height:100%;width:100%;overflow-y:auto;visibility:hidden;}
					.note{position:absolute;left:0px;width:100%;}
						.note_name{position:absolute;height:20px;width:80%;background-color:#aaa;}
						.note_priority{position:absolute;height:20px;width:20%;right:20%;background-color:#aaa;}
						.note_status{position:absolute;height:20px;width:20%;right:0px;background-color:#aaa;text-align:right;}
						.note_selection{position:absolute;height:100%;width:100%;top:20px;background-color:#aaa;}
							.note_selection_links{position:absolute;height:20px;width:100%;top:0px;background-color:#bbb;text-align:right;}
							.note_description{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;overflow:hidden;}
							.note_code{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;visibility:hidden;overflow:hidden;}
							.note_notes{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;visibility:hidden;overflow:hidden;}
						.note_timestamp{position:absolute;height:20px;width:100%;top:80px;text-align:right;background-color:#aaa;border-bottom:dotted 1px black;}

				#lucent{position:absolute;top:0px;left:0px;height:100%;width:100%;overflow-y:auto;visibility:hidden;}
					.server_status{}
						.server{}
							.server_status_ping{}
							.server_status_name{}
							.server_status_description{}
							.server_status_usage{}
							.server_status_url{}
							/* does the server need notes and/or a timestamp? */
							.server_status_notes{}
								.server_status_note{}
						
				#bugger{position:absolute;top:0px;left:0px;height:100%;width:100%;overflow-y:auto;visibility:hidden;}
					.bug{position:absolute;left:0px;width:100%;}
						.bug_name{position:absolute;height:20px;width:80%;background-color:#aaa;}
						.bug_status{position:absolute;height:20px;width:20%;right:0px;background-color:#aaa;text-align:right;}
						.bug_selection{position:absolute;height:100%;width:100%;top:20px;background-color:#aaa;}
							.bug_selection_links{position:absolute;height:20px;width:100%;top:0px;background-color:#bbb;text-align:right;}
							.bug_description{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;overflow:hidden;}
							.bug_code{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;visibility:hidden;overflow:hidden;}
							.bug_notes{position:absolute;height:40px;width:100%;top:20px;background-color:#bbb;visibility:hidden;overflow:hidden;}
						.bug_timestamp{position:absolute;height:20px;width:100%;top:80px;text-align:right;background-color:#aaa;border-bottom:dotted 1px black;}

	#footer{position:absolute;bottom:-34px;height:30px;width:100%;background-color:#016CA4;border-style:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
		#quick_links{position:absolute;top:5px;right:5px;font-size:20px;color:white;}
